@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Baloo|Open+Sans:400,400i,700');
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");
$lightblue:#22c1c3;
$lightgreen:#85ff84;
$blue:#2d70ff;
*:focus {
  outline: none;
}

html {
  height: 100%;
  overflow: hidden;
}

.absolute-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

body {
  background: linear-gradient(0deg, $lightblue, $lightgreen);
  background-attachment: fixed;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: auto;
  height: 100%;
  overflow: hidden;
}

.navbar {
  font-family: 'Baloo', 'open sans', sans-serif;
  background: $blue;
  color: white;
  border-bottom: 1px solid black;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  right: 0;
  top: 0;
}

.navbar .user-count {
  line-height: 60px;
  padding: 0 10px;
  font-size: 16px;
  font-style: italic;
  font-family: 'Baloo', 'open sans', sans-serif;
}

.navbar-brand {
  color: inherit;
  display: block;
  float: left;
  font-size: 35px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}

.messages {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 80%;
  max-width: 700px;
  margin: auto;
}

.message {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: white;
  color: black;
  margin: 20px auto;
  border-radius: 10px;
  font-size: 15px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.message.system {
  font-style: italic;
  padding: 5px 20px;
  width: 50%;
  min-width: 250px;
  margin: 20px auto;
  span {
    margin: auto;
  }
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
}

.message-content {
  flex: 8;
}

.message-username {
  flex: 2;
  font-size: 20px;
  font-family: 'Baloo', 'open sans', sans-serif;
}

.message-image {
  max-width: 60%;
  height: auto;
}

.chatbar {
  background: $blue;
  color: $blue;
  border-top: 1px solid black;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
}

.chatbar .username-entry {
  flex: 1;
}

.chatbar form {
  display: flex;
  flex: 3;
}

.chatbar-message,
.chatbar-username {
  border: 1px solid black;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
}

.chatbar-message {
  flex: 4;
}

.chatbar-username {
  flex: 1;
}